body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
}

.search-section {
  width: 30%;
  padding: 20px;
}

.search-city {
  min-width: 100%;
  max-width: 300px;
}

.search-section input {
  width: 100%;
  max-width: 300px;
  padding: 5px;
}

.search-section button {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  padding: 5px;
}

.search-section #search-history {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  border-top: 1px solid black;
}

.search-section #search-history button {
  display: block;
  margin-top: 10px;
  padding: 5px;
  background-color: darkgray;
  text-align: center;
}

.weather-content {
  width: 70%;
}

.current-weather {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.forecast-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: darkblue;
  border: 1px solid black;
  color: white;
}
  
