body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 32px;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

header {
  background-image: linear-gradient(to right, blue, purple);
  margin: 10px;
  padding-left: 300px;
  text-align: center;
}

.container {
  display: flex;
}

.search-section {
  width: 30%;
  padding: 10px;
}

.search-city {
  min-width: 100%;
  max-width: 300px;
}

#search-btn {
  background-color: blue;
  color: white;
}

.search-section input {
  width: 100%;
  max-width: 300px;
  padding: 5px;
}

.search-section button {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  padding: 5px;
}

.search-section #search-history {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  border-top: 1px solid black;
}

.search-section #search-history button {
  display: block;
  margin-top: 10px;
  padding: 5px;
  background-color: darkgray;
  text-align: center;
}

.weather-content {
  width: 70%;
}

.current-weather {
  display: none;
}

.current-weather.border {
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.forecast-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: darkblue;
  border: 1px solid black;
  color: white;
}